<html>
    <body>
        {% if user.is_authenticated %}
            <h4>User Info</h4>
            <p>Current user: <span id="user-email">{{ user.email }}</span></p>
            <h5>User Data</h5>
            <pre>{{ user.auth0_data | pprint }}</pre>
            <h6>User Metadata</h6>
            <pre id="user-metadata">{{ user.user_metadata | pprint }}</pre>
            <h6>App Metadata</h6>
            <pre id="app-metadata">{{ user.app_metadata | pprint }}</pre>
            <p>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Log Out">
                </form>
            </p>
            <p><a href="{%  url 'admin:index' %}">Admin</a></p>
        {% else %}
            <a href="{% url 'social:begin' 'auth0' %}">Login</a>
            <p><a href="{%  url 'admin:index' %}">Admin</a></p>
        {% endif %}
    </body>
</html>
